.maincontainer{
 position: fixed;
 height: 100%;
 width: 100%;
 /* margin-left: -.5%;
 margin-top: -.5%;
 margin-right: .5%; */
}

input[type=text], input[type=password] {
    width: 50%;
    padding: 10px 17px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    /* position:absolute; */
    background-color:#5ac7bc;
    padding: 10px 16px;
    margin: 17px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
      position:fixed;
 background-image: url(./login.jpg);
 border-radius: 200px; 
 background-repeat: no-repeat;
 background-position:left;
 background-size:contain;
 /* background-color:papayawhip; */
    margin:auto;
    margin:10%;
    /* padding: 14px; */
    padding-left:35%;
    
  }
  td {
    display:block;
    margin: 0;
    padding: 1.5%;
    background-color: #6cc7be;
    
  }
  
  